.header-container {
    background: #fff;
    box-shadow: -1px 4px 20px 1px #f1f1f185;
}


header.header{
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.icon {
    width: 25px;
}
.user-profile-dropdown {
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.navbar-item{
    display: flex;
}
.dropdown{
    position: relative;
}
.header-left{
    justify-content: space-between;
    align-items: center;
}
.user {
    padding: 6px 0;
    font-size: 25px;
    color: #9999;
    position: relative;
}
p.count {
    position: absolute;
    top: 0;
    font-size: 10px;
    color: var(--white-color);
    /* background: var(--main-grident); */
    height: 13px;
    width: 13px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    right: -5px;
}
a.sidebarCollapse {
    padding-left: 20px;
    color: var(--second-color);
    font-size: 20px;
}
.logo {
    width: 240px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    background: var(--main-grident);
    color: var(--white-color);
}

.menu {
    z-index: var(--z-fixed);
    min-width: 15rem;
    padding: 0;
    border-radius: 5px;
    left: auto !important;
    right: 0;
}

img.user-note {
    width: 50px;
}

.dp-main-menu {
   
    width: 100%;
    box-shadow: 0px 4px 20px 0px #ddd;
    border-radius: 5px;
    padding: 10px 0;
}

.dp-main-menu a {
    font-size: 13px;
    color: var(--second-color);
    white-space: initial;
    line-height: 18px;
    
    align-items: center;
    padding: 10px;
    
}

a.message-item {
    width: 70px;
}
.dp-border{
    border-bottom: 1px solid #ddd;
    display: flex;
    
    align-items: center;
}
.dp-border:last-child{
    border-bottom: 0;
   
}
span.fas.fa-times {
    background: var(--main-grident);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
.note-name {
    font-size: 13px;
    font-weight: 500;
}

.note-time {
    font-size: 11px;
}
.note-infor-dismiss {
    display: flex;
    align-items: center;
}
/* ===================== MESSAGE DROPDOWN ======================= */
.sms-user {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.m-user-name {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--second-color);
}
.user-role {
    font-size: 12px;
    line-height: 1.4;
    color: var(--main-color);
}

/* ===================== USER DROPDOWN ======================= */
.media {
    background: var(--main-color);
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}
.user-img {
    width: 70px;
    border-radius: 50%;
}
.media-boy {
    margin-top: 10px;
    line-height: 20px;
    padding-bottom: 10px;
    
}
.media-boy h5 {
    font-weight: 700;
    color: var(--white-color);
}
.media-boy p{
    font-size: 13px;
    color: var(--white-color);
    font-weight: 500;
}
.dropdown-item span{
    color: var(--main-color);
    padding-right: 10px;
}

/* ===================== SIDEBAR STYLE ======================= */
.left-menu.hide {
    width: 0;
}
.left-menu {
    height: 100vh;
    width: 240px;
    position: fixed;
    box-shadow: 3px -1px 19px 1px #efeeee;
    overflow-y: scroll;
    transition: .5s;
    margin-top: -18px;
    background: var(--white-color);
}
nav.animated {
    position: relative;
    width: 240px;
}

.left-menu::-webkit-scrollbar {
    width:6px;
}
 
.left-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.left-menu::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(0deg, rgb(180, 58, 112, 1) 0%, rgb(232, 37, 169) 54%);
}
ul#sidebar > li:hover {
    border-left: 5px solid var(--main-color);
    transition: .3s;
}
ul#sidebar > li > a {
    display: block;
    padding: 7px 15px;
    transition: .2s;
    font-size: 12px;
    font-weight: 500;
    color: #676767;
}
ul#sidebar > li > a:hover {
    color: var(--main-color);
    background: #f7f7;
}
li.active a {
    color: var(--main-color);
    background: #f9f9f9;
}

li.active {
    border-left: 5px solid var(--main-color);
}
ul#sidebar > li > a>i {
    padding-right: 7px;
    font-size: 14px;
}
/* ============== CONTENT ============== */
.content-wrapper {
    margin-left: 240px;
    margin-top: 70px;
    transition: .5s;
}
.content-wrapper.hide {
    margin-left: 0;
}
.top-chart-earn {
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: -2px 3px 13px 0px #ddd6;
}